@import './variables.scss';

.form-wrapper {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: $form-background;
    margin-top: rem(50);
    padding: rem(30) rem(50) rem(30) rem(50);
    border-radius: rem(30);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}